<p id="notice"><%= notice %></p>

<h1>Jogs</h1>

<table>
  <thead>
    <tr>
      <th>N</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @jogs.each do |jog| %>
      <tr>
        <td><%= jog.n %></td>
        <td><%= link_to 'Show', jog %></td>
        <td><%= link_to 'Edit', edit_jog_path(jog) %></td>
        <td><%= link_to 'Destroy', jog, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Jog', new_jog_path %>
